body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.RacingBars {
  flex-grow: 1;
  height: calc(100% - 20px);
  /* Adjust for vertical margins */
  width: calc(100% - 20px);
  /* Adjust for horizontal margins */
  margin: 10px;
  /* Adds margin around the component */
  box-sizing: border-box;
  /* Ensures padding/margin adjustments don't break layout */
}